 
{# index.twig #}
{% extends "template/layout.twig" %}

{% block page %}  
    <header>
        <h1>{{global.title}} {{global.year}}</h1>
    </header>
    <div id="app" class="app"></div>
{% endblock %}  