

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    text-align: center;

    > * {
        padding: 1rem;
        width: min(70rem, 100vw);
    }

    > main {
        text-align: start;
    }

    > footer {
        margin-block-start: auto;
        padding-block: 2rem 3rem;

        border-block-start: 0.125rem solid #ccc;
    }
}

a {
    color: #555;

    &:focus,
    &:hover {
        color: #222;
    }
}

 