
<!doctype html>
<html lang="en-us" dir="ltr">
    <head>
        <title>Trading Economics</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="./assets/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <header>
            <h1>
                <a href="https://www.linkedin.com/in/kevinrschroeder" target="_blank"><b>Kevin Schroeder</b></a>
            </h1>
        </header>
        <main>
            {% block page %}{% endblock %}
        </main> 
        <footer>
            <p>Trading Economics Example by <b>Kevin R. Schroeder</b></p>
        </footer> 
        <script src="./assets/js/main.js" ></script>
    </body>
</html>